# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folder
venv/
env/

# Distribution/Packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# System files (Mac, Windows, Linux)
.DS_Store
Thumbs.db
*.swp

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm files
*.iml
